body{
	background-color: #CFD5F2;
}
#titulo{
	text-align: center;
	color: blue;
}
#cabeza{
	width: 100%;
	height: 130px;
	text-align: center;
}
#ini{
	border-color: black;
	border-style: groove;
	border-width: 1px;
	margin: 0px auto;
}
